<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <servlet>
    <servlet-name>HelloServlet</servlet-name>
    <servlet-class>org.indranil.servlets.HelloServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HelloServlet</servlet-name>
    <url-pattern>/HelloServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PostParametersServlet</servlet-name>
    <servlet-class>org.indranil.servlets.PostParametersServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PostParametersServlet</servlet-name>
    <url-pattern>/PostParametersServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ColorGetServlet</servlet-name>
    <servlet-class>org.indranil.servlets.ColorGetServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ColorGetServlet</servlet-name>
    <url-pattern>/ColorGetServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ColorPostServlet</servlet-name>
    <servlet-class>org.indranil.servlets.ColorPostServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ColorPostServlet</servlet-name>
    <url-pattern>/ColorPostServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddCookieServlet</servlet-name>
    <servlet-class>org.indranil.servlets.AddCookieServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddCookieServlet</servlet-name>
    <url-pattern>/AddCookieServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetCookieServlet</servlet-name>
    <servlet-class>org.indranil.servlets.GetCookieServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetCookieServlet</servlet-name>
    <url-pattern>/GetCookieServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DateServlet</servlet-name>
    <servlet-class>org.indranil.servlets.DateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DateServlet</servlet-name>
    <url-pattern>/DateServlet</url-pattern>
  </servlet-mapping>
</web-app>